.main__header {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;

    p {
        display: flex;
        align-items: center;
        color: #5cc49a;
    }

    a {
        color: #5cc49a;
    }
}
